<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListEvent</servlet-name>
        <servlet-class>controller.event.ListEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEvent</servlet-name>
        <servlet-class>controller.event.EditEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>controller.event.AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>controller.event.DeleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetail</servlet-name>
        <servlet-class>controller.event.EventDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEvent</servlet-name>
        <servlet-class>controller.event.SearchEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchType</servlet-name>
        <servlet-class>controller.event.SearchType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEvent</servlet-name>
        <url-pattern>/listEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEvent</servlet-name>
        <url-pattern>/editEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/addEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetail</servlet-name>
        <url-pattern>/eventDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEvent</servlet-name>
        <url-pattern>/searchEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchType</servlet-name>
        <url-pattern>/searchType</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>
